# Project Data Exploration Report
## Student Information
- Name: Your Full Name
- Student Number: Your Student Number
- GitHub Repository: https://github.com/yourusername/yourrepo

## Imports and Load Data

In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

file_path = 'World Bank Projects & Operations\projects-operations-csv-.csv'
df = pd.read_csv(file_path)

## Initial Exploration

In [67]:
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18841 entries, 0 to 18840
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18841 non-null  object
 1   regionname                18841 non-null  object
 2   countryname               18841 non-null  object
 3   prodline                  18841 non-null  object
 4   lendinginstr              18580 non-null  object
 5   lendinginstrtype          18580 non-null  object
 6   envassesmentcategorycode  12731 non-null  object
 7   supplementprojectflg      18792 non-null  object
 8   productlinetype           18841 non-null  object
 9   projectstatusdisplay      18839 non-null  object
 10  status                    18839 non-null  object
 11  project_name              18841 non-null  object
 12  boardapprovaldate         17172 non-null  object
 13  board_approval_month      17172 non-null  object
 14  closingdate               15296 non-null  object
 15  lendprojectcost           18709 non-null  object
 16  ibrdcommamt               18841 non-null  object
 17  idacommamt                18841 non-null  object
 18  totalamt                  18841 non-null  object
 19  grantamt                  18841 non-null  object
 20  borrower                  12472 non-null  object
 21  impagency                 12288 non-null  object
 22  url                       18841 non-null  object
 23  projectdoc                0 non-null      float64
 24  majorsector_percent       0 non-null      float64
 25  sector1                   18841 non-null  object
 26  sector2                   9810 non-null   object
 27  sector3                   6672 non-null   object
 28  sector4                   4480 non-null   object
 29  sector5                   2770 non-null   object
 30  sector                    18065 non-null  object
 31  mjsector1                 0 non-null      float64
 32  mjsector2                 0 non-null      float64
 33  mjsector3                 0 non-null      float64
 34  mjsector4                 0 non-null      float64
 35  mjsector5                 0 non-null      float64
 36  mjsector                  18065 non-null  object
 37  theme1                    18841 non-null  object
 38  theme2                    9883 non-null   object
 39  theme3                    7508 non-null   object
 40  theme4                    5247 non-null   object
 41  theme5                    2935 non-null   object
 42  theme                     0 non-null      float64
 43  goal                      12188 non-null  object
 44  financier                 7199 non-null   object
 45  mjtheme1name              0 non-null      float64
 46  mjtheme2name              0 non-null      float64
 47  mjtheme3name              0 non-null      float64
 48  mjtheme4name              0 non-null      float64
 49  mjtheme5name              0 non-null      float64
 50  location                  4569 non-null   object
 51  GeoLocID                  4569 non-null   object
 52  GeoLocName                4568 non-null   object
 53  Latitude                  4569 non-null   object
 54  Longitude                 4569 non-null   object
 55  Country                   4451 non-null   object
 56  Unnamed: 56               0 non-null      float64
dtypes: float64(14), object(43)
memory usage: 8.2+ MB
None

In [68]:
print("\nFirst 5 rows:")
print(df.head())

First 5 rows:
        id                    regionname  \
0  P151169  Middle East and North Africa
1  P154943         East Asia and Pacific
2  P161382         East Asia and Pacific
3  P163922         East Asia and Pacific
4  P169279         East Asia and Pacific

                                         countryname prodline  \
0              Kingdom of Morocco;Kingdom of Morocco       PE
1                  Kingdom of Tonga;Kingdom of Tonga       PE
2  Republic of the Marshall Islands;Republic of t...       PE
3  Federated States of Micronesia;Federated State...       PE
4                                        Samoa;Samoa       PE

                   lendinginstr lendinginstrtype envassesmentcategorycode  \
0  Investment Project Financing               IN                        B
1  Investment Project Financing               IN                        C
2  Investment Project Financing               IN                        B
3  Investment Project Financing               IN                        B
4  Investment Project Financing               IN                      NaN

  supplementprojectflg productlinetype projectstatusdisplay  ... mjtheme3name  \
0                    N               L               Active  ...          NaN
1                    N               L               Active  ...          NaN
2                    N               L               Active  ...          NaN
3                    N               L               Active  ...          NaN
4                    Y               L               Active  ...          NaN

  mjtheme4name mjtheme5name location GeoLocID GeoLocName Latitude Longitude  \
0          NaN          NaN      NaN      NaN        NaN      NaN       NaN
1          NaN          NaN      NaN      NaN        NaN      NaN       NaN
2          NaN          NaN      NaN      NaN        NaN      NaN       NaN
3          NaN          NaN      NaN      NaN        NaN      NaN       NaN
4          NaN          NaN      NaN      NaN        NaN      NaN       NaN

  Country Unnamed: 56
0     NaN         NaN
1     NaN         NaN
2     NaN         NaN
3     NaN         NaN
4     NaN         NaN

[5 rows x 57 columns]

In [69]:
print("\nMissing values per column:")
print(df.isnull().sum().sort_values(ascending=False).head(10))

Missing values per column:
majorsector_percent     18841
projectdoc              18841
mjtheme3name            18841
mjtheme2name            18841
mjsector5               18841
mjsector3               18841
mjsector4               18841
mjsector2               18841
mjsector1               18841
theme                   18841
dtype: int64

In [70]:
# Displaying the columns
df.columns

Index(['id', 'regionname', 'countryname', 'prodline', 'lendinginstr',
       'lendinginstrtype', 'envassesmentcategorycode', 'supplementprojectflg',
       'productlinetype', 'projectstatusdisplay', 'status', 'project_name',
       'boardapprovaldate', 'board_approval_month', 'closingdate',
       'lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt',
       'borrower', 'impagency', 'url', 'projectdoc ', 'majorsector_percent ',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector5', 'sector',
       'mjsector1', 'mjsector2', 'mjsector3', 'mjsector4', 'mjsector5',
       'mjsector', 'theme1', 'theme2', 'theme3', 'theme4', 'theme5', 'theme ',
       'goal', 'financier', 'mjtheme1name', 'mjtheme2name', 'mjtheme3name',
       'mjtheme4name', 'mjtheme5name', 'location', 'GeoLocID', 'GeoLocName',
       'Latitude', 'Longitude', 'Country', 'Unnamed: 56'],
      dtype='object')

## Data Cleaning

In [71]:
# Convert date columns to datetime
df['boardapprovaldate'] = pd.to_datetime(df['boardapprovaldate'], errors='coerce')
df['closingdate'] = pd.to_datetime(df['closingdate'], errors='coerce')

In [72]:
# Convert numeric columns (remove commas and coerce errors)
def to_numeric(col):
    return pd.to_numeric(df[col].str.replace(',', '').replace('', np.nan), errors='coerce')

In [73]:
for col in ['lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt']:
    df[col] = to_numeric(col)