# Load and Explore the Dataset

In [7]:
import pandas as pd

# Loading the dataset
df = pd.read_csv("World Bank Projects & Operations\projects-operations-csv-.csv")

# Displaying basic info
print("Data Overview:")
print(df.info())

Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18841 entries, 0 to 18840
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18841 non-null  object
 1   regionname                18841 non-null  object
 2   countryname               18841 non-null  object
 3   prodline                  18841 non-null  object
 4   lendinginstr              18580 non-null  object
 5   lendinginstrtype          18580 non-null  object
 6   envassesmentcategorycode  12731 non-null  object
 7   supplementprojectflg      18792 non-null  object
 8   productlinetype           18841 non-null  object
 9   projectstatusdisplay      18839 non-null  object
 10  status                    18839 non-null  object
 11  project_name              18841 non-null  object
 12  boardapprovaldate         17172 non-null  object
 13  board_approval_month      17172 non-null  object
 14  closingdate               15296 non-null  object
 15  lendprojectcost           18709 non-null  object
 16  ibrdcommamt               18841 non-null  object
 17  idacommamt                18841 non-null  object
 18  totalamt                  18841 non-null  object
 19  grantamt                  18841 non-null  object
 20  borrower                  12472 non-null  object
 21  impagency                 12288 non-null  object
 22  url                       18841 non-null  object
 23  projectdoc                0 non-null      float64
 24  majorsector_percent       0 non-null      float64
 25  sector1                   18841 non-null  object
 26  sector2                   9810 non-null   object
 27  sector3                   6672 non-null   object
 28  sector4                   4480 non-null   object
 29  sector5                   2770 non-null   object
 30  sector                    18065 non-null  object
 31  mjsector1                 0 non-null      float64
 32  mjsector2                 0 non-null      float64
 33  mjsector3                 0 non-null      float64
 34  mjsector4                 0 non-null      float64
 35  mjsector5                 0 non-null      float64
 36  mjsector                  18065 non-null  object
 37  theme1                    18841 non-null  object
 38  theme2                    9883 non-null   object
 39  theme3                    7508 non-null   object
 40  theme4                    5247 non-null   object
 41  theme5                    2935 non-null   object
 42  theme                     0 non-null      float64
 43  goal                      12188 non-null  object
 44  financier                 7199 non-null   object
 45  mjtheme1name              0 non-null      float64
 46  mjtheme2name              0 non-null      float64
 47  mjtheme3name              0 non-null      float64
 48  mjtheme4name              0 non-null      float64
 49  mjtheme5name              0 non-null      float64
 50  location                  4569 non-null   object
 51  GeoLocID                  4569 non-null   object
 52  GeoLocName                4568 non-null   object
 53  Latitude                  4569 non-null   object
 54  Longitude                 4569 non-null   object
 55  Country                   4451 non-null   object
 56  Unnamed: 56               0 non-null      float64
dtypes: float64(14), object(43)
memory usage: 8.2+ MB
None

In [8]:
# Displaying the first few rows
print("\nSample Data:")
print(df.head())

Sample Data:
        id                    regionname  \
0  P151169  Middle East and North Africa
1  P154943         East Asia and Pacific
2  P161382         East Asia and Pacific
3  P163922         East Asia and Pacific
4  P169279         East Asia and Pacific

                                         countryname prodline  \
0              Kingdom of Morocco;Kingdom of Morocco       PE
1                  Kingdom of Tonga;Kingdom of Tonga       PE
2  Republic of the Marshall Islands;Republic of t...       PE
3  Federated States of Micronesia;Federated State...       PE
4                                        Samoa;Samoa       PE

                   lendinginstr lendinginstrtype envassesmentcategorycode  \
0  Investment Project Financing               IN                        B
1  Investment Project Financing               IN                        C
2  Investment Project Financing               IN                        B
3  Investment Project Financing               IN                        B
4  Investment Project Financing               IN                      NaN

  supplementprojectflg productlinetype projectstatusdisplay  ... mjtheme3name  \
0                    N               L               Active  ...          NaN
1                    N               L               Active  ...          NaN
2                    N               L               Active  ...          NaN
3                    N               L               Active  ...          NaN
4                    Y               L               Active  ...          NaN

  mjtheme4name mjtheme5name location GeoLocID GeoLocName Latitude Longitude  \
0          NaN          NaN      NaN      NaN        NaN      NaN       NaN
1          NaN          NaN      NaN      NaN        NaN      NaN       NaN
2          NaN          NaN      NaN      NaN        NaN      NaN       NaN
3          NaN          NaN      NaN      NaN        NaN      NaN       NaN
4          NaN          NaN      NaN      NaN        NaN      NaN       NaN

  Country Unnamed: 56
0     NaN         NaN
1     NaN         NaN
2     NaN         NaN
3     NaN         NaN
4     NaN         NaN

[5 rows x 57 columns]

In [9]:
# Displaying the columns
df.columns

Index(['id', 'regionname', 'countryname', 'prodline', 'lendinginstr',
       'lendinginstrtype', 'envassesmentcategorycode', 'supplementprojectflg',
       'productlinetype', 'projectstatusdisplay', 'status', 'project_name',
       'boardapprovaldate', 'board_approval_month', 'closingdate',
       'lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt',
       'borrower', 'impagency', 'url', 'projectdoc ', 'majorsector_percent ',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector5', 'sector',
       'mjsector1', 'mjsector2', 'mjsector3', 'mjsector4', 'mjsector5',
       'mjsector', 'theme1', 'theme2', 'theme3', 'theme4', 'theme5', 'theme ',
       'goal', 'financier', 'mjtheme1name', 'mjtheme2name', 'mjtheme3name',
       'mjtheme4name', 'mjtheme5name', 'location', 'GeoLocID', 'GeoLocName',
       'Latitude', 'Longitude', 'Country', 'Unnamed: 56'],
      dtype='object')

# Data Cleaning and Preparation

In [10]:
# Droping columns with excessive missing values (e.g., more than 50%)
missing_percent = df.isnull().mean() * 100
cols_to_drop = missing_percent[missing_percent > 50].index
df_clean = df.drop(columns=cols_to_drop)

In [11]:
# Droping rows with missing values in critical columns
critical_cols = ["countryname", "projectstatusdisplay", "lendprojectcost"]
df_clean = df_clean.dropna(subset=critical_cols)

In [12]:
# Converting relevant columns to numeric
df_clean["lendprojectcost"] = pd.to_numeric(df_clean["lendprojectcost"], errors='coerce')

In [13]:
# Converting dates
df_clean["boardapprovaldate"] = pd.to_datetime(df_clean["boardapprovaldate"], errors='coerce')
df_clean["closingdate"] = pd.to_datetime(df_clean["closingdate"], errors='coerce')

In [14]:
# Extracting year from board approval date for analysis
df_clean["approval_year"] = df_clean["boardapprovaldate"].dt.year

In [15]:
print("\nCleaned Data Info:")
print(df_clean.info())

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
Index: 18707 entries, 0 to 18840
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18707 non-null  object
 1   regionname                18707 non-null  object
 2   countryname               18707 non-null  object
 3   prodline                  18707 non-null  object
 4   lendinginstr              18448 non-null  object
 5   lendinginstrtype          18448 non-null  object
 6   envassesmentcategorycode  12614 non-null  object
 7   supplementprojectflg      18659 non-null  object
 8   productlinetype           18707 non-null  object
 9   projectstatusdisplay      18707 non-null  object
 10  status                    18707 non-null  object
 11  project_name              18707 non-null  object
 12  boardapprovaldate         17049 non-null  datetime64[ns, UTC]
 13  board_approval_month      17049 non-null  object
 14  closingdate               15199 non-null  datetime64[ns, UTC]
 15  lendprojectcost           160 non-null    float64
 16  ibrdcommamt               18707 non-null  object
 17  idacommamt                18707 non-null  object
 18  totalamt                  18707 non-null  object
 19  grantamt                  18707 non-null  object
 20  borrower                  12362 non-null  object
 21  impagency                 12174 non-null  object
 22  url                       18707 non-null  object
 23  sector1                   18707 non-null  object
 24  sector2                   9705 non-null   object
 25  sector                    17939 non-null  object
 26  mjsector                  17939 non-null  object
 27  theme1                    18707 non-null  object
 28  theme2                    9792 non-null   object
 29  goal                      12073 non-null  object
 30  approval_year             17049 non-null  float64
dtypes: datetime64[ns, UTC](2), float64(2), object(27)
memory usage: 4.6+ MB
None

In [16]:
df.shape , df_clean.shape
# Displaying the cleaned data

((18841, 57), (18707, 31))